<app-loader></app-loader>
<div class="container">
    <app-header 
    ></app-header>
    <div class="content">
        <app-cards></app-cards>
       <!--  <app-dashboard-table></app-dashboard-table> -->
        <!-- <app-dashboard></app-dashboard> -->
        <!-- <app-sidenav *ngIf="isUserLoggedin && !isMonitorPlanOrSurveyResponse"></app-sidenav> -->
        <router-outlet></router-outlet>
    </div>
    <!-- <app-survey-response></app-survey-response> -->
    <app-reports></app-reports>
</div>